h1,
h2 {
    margin: 10px;
    letter-spacing: 2px;
}
body {
    font-family: "Do Hyeon", sans-serif;
    color: #fff;
    max-height: 100vh;
    background: url("./images/background.jpg") no-repeat center;
}
.wrapper {
    background-color: #e8cc15;
    height: 35vh;
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 20px;
}
.button {
    display: block;
    font-family: "Do Hyeon", sans-serif;
    background-color: #24d34b;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 15px 10px;
    display: block;
    outline: none;
    cursor: pointer;
}
#map {
    height: 60vh;
}
#user{
    text-align: center;
}
